/* ============ BROWSER RESET STYLE ============ */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    border: none;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: var(--primary-font);
    background-color: var(--body-background);
    color: var(--body-color);
    font-size: var(--body-font);
}

input[type='text'],
input[type='password'],
input[type='date'],
input[type='datetime'],
input[type='datetime-local'],
input[type='month'],
input[type='week'],
input[type='email'],
input[type='number'],
input[type='search'],
input[type='tel'],
input[type='time'],
input[type='url'],
input[type='color'],
textarea {
    outline: none;
    font-family: var(--primary-font);
    font-size: var(--input-font-size);
}

button {
    font-family: var(--primary-font);
    cursor: pointer;
    outline: none;
}

a {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;

    &:hover {
        color: var(--link-hover-color);
    }

    &.link-underline {
        text-decoration: underline;
    }

    &.reverse-color {
        color: var(--link-hover-color);

        &:hover {
            color: var(--link-color);
        }
    }
}

// TYPOGRAPGY

h1,
.h1 {
    font-size: 40px;
}

h2,
.h2 {
    font-size: 32px;
}

h3,
.h3 {
    font-size: 28px;
}

h4,
.h4 {
    font-size: 20px;
}

h5,
.h5 {
    font-size: 20px;
}

h6,
.h6 {
    font-size: 16px;
}

P {
    font-size: var(--body-font);
    margin-bottom: 20px;
}

body {
    padding-top: 88px;

    @include medium {
        padding-top: 84px;
    }
}